*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif ;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color:#fff;

}
#header{
    height: 100vh;
    width: 100%;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 10%;
}
.logo{
    width: 140px;

}
nav{
    display: flex;
    justify-content: space-between; /* Push items apart */
    align-items: center;
    flex-wrap: wrap;}
nav ul li{
    display:inline-block;
  list-style: none;
  margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    width: 0%;
    position: absolute;
    height: 3px;
    background: #ff004f;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;


}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #ff004f !important;
}